@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$form-floating-height: add(3.0rem, $input-height-border);
$form-floating-line-height: 1;

@import "../bootstrap/scss/bootstrap";

$font-stack: "Courier New" Helvetica, sans-serif;
$table-striped-bg:rgba($blue, $table-striped-bg-factor);
$table-striped-color:$green;


.body {
  font-family: $font-stack;
}

.sm-text {
  // font-size: $sub-sup-font-size;
  font-size: calc(100% + 1vw);
}

// *:hover { 
//   outline:1px blue solid;
// } 

// .accordion-button::after {
//   background-image: initial;
//   width: 0;
// }

// .accordion-button:not(.collapsed)::after {
//   background-image: initial;
//   width: 0;
// }

.accordion-button:after {
  display: none;
  width: 0;
 }

 .raise-btn {
  position: relative;
  z-index: 1000;
}